.container {
    margin: auto;
    text-align: center;
    height: 50px;
    display: grid;
    grid-template-columns: 5fr minmax(auto, 60px);
    margin-top: 2em;
    gap: 4px;
}

.input {
    font-size: 18px;
    text-indent: 10px;
    height: 100%;
}

.button {
    max-width: 60px;
    font-size: 18px;
    height: 100%;
    background-color: blue;
    color: white;
    border: 1px solid black;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    animation: none;
    background-image: none;
    background-color: black;
}