.container {
  margin: auto;
  max-width: 900px;
  text-align: center;
}

.description {
  margin: auto;
  max-width: 900px;
  text-align: center;
  font-size: 1.5em;
}

.aideLogo {
  display: flex;
  justify-content: center;
}

.aideLogo img {
  width: 180px;
}