@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Press+Start+2P&display=swap');

/* FONTS */
.alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.fs-lg {
  font-size: 3em;
}

.fs-md {
  font-size: 2em;
}

.fs-sm {
  font-size: 1em;
}

.fs-xs {
  font-size: 0.5em;
}

.fs-headline {
  font-size: 0.85em;
  position: relative;
  top: 5px;
  letter-spacing: -2px;
  word-spacing: -25px;
  color: blue;
}

.fs-link {
  text-decoration: none;
  color: blue;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, blue, rgb(0, 149, 255));
}

/* FONTS */

.body {
  min-height: 100vh;
  height: 100vh;
}

.app-container {
  background-color: #f7f7f7;
  /* width: 100%;
  height: 100vh;
  position: relative; */
  display: grid;
  place-items: center;
  /* justify-content: center; */
  height: 100%;
  width: 100%;
}

.app-components {
  padding: 1rem;
}



/* ANIMATIONS */

.text-animation {
  /* font-family:arial black; */
  /* font-size:70px; */
  background-image: linear-gradient(to right, blue, rgb(0, 149, 255));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-animation 300s linear infinite;
}

.background-animation {
  /* font-family:arial black; */
  /* font-size:70px; */
  background-image: linear-gradient(to right, blue, rgb(0, 149, 255));
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent;   */
  animation: rainbow-animation 500s linear infinite;
}

@keyframes rainbow-animation {
  to {
    background-position: 4500vh;
  }
}